name: Extract URLs and Update Repo

on:
  schedule:
    - cron: '0 0 */3 * *'  # Se ejecuta cada 3 días a medianoche UTC
  workflow_dispatch:  # Permite ejecución manual desde GitHub Actions

jobs:
  extract_and_commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Configurar permisos de usuario
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Dar permisos de ejecución al script
        run: chmod +x extraer_urls_paralelo.sh

      - name: Ejecutar el script de extracción
        run: ./extraer_urls_paralelo.sh

      - name: Hacer commit y push si hay cambios
        run: |
          git add es_gambling_hosts.txt
          git commit -m "Actualización automática de es_gambling_hosts.txt"
          git push
